*{
  margin:0;
  padding:0;
}

html, body, #main {
  height:100%;
  font-family:arial, sans-serif;
  font-size:14px;
}

#header{
  background-color:#000;
  width:100%;
  height:10%;
}

#header_title{
  padding:10px;
  margin:0px;
  text-align:center;
  font-size:1em;
  color:#fff;
}

#content{
  background-color: #F0F0F0;  
  height:90%;
}

#maps_div{
  width: 100%;
  height:85%;
}